.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}

.footerChild {
    width: 50%;
    min-width: 575px;
}

@media screen and (max-width: 767px) {
  .footer{
    text-align: center;
  }
  .footerChild{
    width: 100%;
    min-width: 0px;
  }
}

.footerText{
    padding-top: 20px;
}

.footer a {
    margin-left: 5px;
}
.author a {
    color: white;
}