.locationText {
    width: 30%;
    min-width: 400px;
    max-width: 600px;
    white-space: normal;
    overflow-wrap: break-word;
    margin: auto;
    padding: 40px 0 80px 0;
}

@media screen and (max-width: 480px) {
  .locationText {
    min-width: 0px;
    width: 90%;
  }
}

.spinnerParent {
    height: 500px;
}

.backgroundMap{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px
}

.toggleMap{
    float: left;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-family: "Roboto", sans-serif;
}

.directions {
    float: right;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-family: "Roboto", sans-serif;
}