/* The styling for this component was inspired by the following article
https://stackoverflow.com/questions/4978090/3-divs-middle-div-needs-to-be-a-variable-length-dotted-line
*/

.item{
    display: flex;
    text-align: left;
}

.itemName{
    flex: 0 0 auto;
    font-weight: bold;
    font-style: italic;
}

.itemPrice {
    flex: 0 0 auto;
    font-style: italic;
}

.itemDescription{
    display: flex;
    font-style: italic;
    width:90%;
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top: 5px;
    text-align: left;
}

.icons {
    text-align: left;
    color: rgb(211, 34, 34);
}

.dotted{
  flex: 1 1 auto;
  position: relative;
}

.dotted:before{
  	position:absolute;
  	bottom: 5px;
  	width: 99%;
	border-bottom: 1px dotted #000;
	content: '';
	left: 0.5%;
	right: 0.5%;
}

.vegetarian {
	color: rgba(125, 177, 125, 0.89);
	font-weight: bold
}

.spice {
  	margin-right: 10px;
}