.navbar {
    z-index: 1000;
    background-color: rgb(247, 247, 237);
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: "PT Serif", serif!important;
    padding-bottom: 30px;
}

.grey {
    color: rgb(105, 104, 104);
}

.offcanvas {
    font-family: "PT Serif", serif!important;
    font-size: large;
}